<mat-sidenav-container class='sidenav-container'>
	<mat-sidenav #drawer class='shard-dashboard-sidenav' fixedInViewport='true'
		[attr.role]='(isHandset$ | async) ? "dialog" : "navigation"'
		[mode]='(isHandset$ | async) ? "over" : "side"'
		[opened]='!(isHandset$ | async)'>
		<ng-content select='sidenav'></ng-content>
	</mat-sidenav>
	<mat-sidenav-content>
		<mat-toolbar color='primary'>
			<button *ngIf='isHandset$ | async' aria-label='Toggle sidenav' (click)='drawer.toggle()'
				mat-icon-button type='button'>
				<mat-icon aria-label='Side nav toggle icon'>menu</mat-icon>
			</button>
			<ng-content select='toolbar'></ng-content>
		</mat-toolbar>
		<div class='shard-dashboard-content'>
			<ng-content select='content'></ng-content>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
