<mat-card style='max-width: 500px'>
	<mat-card-header>
		<mat-card-title>
			{{ mode }} Akun Murid
		</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<form #formRef class='full-width' [formGroup]='form' fxLayout='row wrap'
			fxLayoutGap='16px' fxLayoutWrap='400px'>
			<div fxFlex='calc(50 - 8px)'>
				<mat-form-field>
					<input formControlName='NIM' id='NIM' matInput
						[maxlength]='RULES.NIM.maxlength'
						[minlength]='RULES.NIM.minlength' name='NIM'
						[placeholder]='RULES.NIM.placeholder' [readonly]='uniqueIsReadonly'
						[required]='RULES.NIM.required' value=''>
					<!-- <mat-hint align='end'> {{ getHintLength('NIM') }} </mat-hint> -->
				</mat-form-field>
				<shard-form-error [control]='controls.NIM'
					[validationMessages]='VALIDATION_MESSAGES.NIM'>
				</shard-form-error>
			</div>
			<div fxFlex='calc(50 - 8px)'>
				<mat-form-field>
					<input #usernameRef formControlName='username' id='username' matInput
						[maxlength]='RULES.username.maxlength'
						[minlength]='RULES.username.minlength' name='username'
						[placeholder]='RULES.username.placeholder' [readonly]='uniqueIsReadonly'
						[required]='RULES.username.required' value="">
					<!-- <mat-hint align='end'> {{ getHintLength('username') }} </mat-hint> -->
				</mat-form-field>
				<shard-form-error [control]='controls.username'
					[validationMessages]='VALIDATION_MESSAGES.username'>
				</shard-form-error>
			</div>
			<div *ngIf='!passwordFieldIsHidden' fxFlex='calc(50 - 8px)'>
				<mat-form-field>
					<input formControlName='password' id='password' matInput
						[maxlength]='RULES.password.maxlength'
						[minlength]='RULES.password.minlength' name='password' numneric
						[placeholder]='RULES.password.placeholder' [readonly]='false'
						[required]='RULES.password.required' [type]='password.type'
						value=''>
					<mat-icon (click)='password.toggle()' matSuffix [matTooltip]='password.tooltip'>
						{{ password.icon }}
					</mat-icon>
					<!-- <mat-hint align='end'> {{ getHintLength('password') }} </mat-hint> -->
				</mat-form-field>
				<shard-form-error [control]='controls.password'
					[validationMessages]='VALIDATION_MESSAGES.password'>
				</shard-form-error>
			</div>
			<!-- <div *ngIf='!passwordFieldIsHidden' fxFlex='calc(50 - 8px)'>
				<mat-form-field>
					<input formControlName='password1' id='password1' matInput
						[maxlength]='RULES.password1.maxlength'
						[minlength]='RULES.password1.minlength' name='password1' numneric
						[placeholder]='RULES.password1.placeholder' [readonly]='false'
						[required]='RULES.password1.required' [type]='password1.type'
						value=''>
					<mat-icon (click)='password1.toggle()' matSuffix [matTooltip]='password1.tooltip'>
						{{ password1.icon }}
					</mat-icon>
					<mat-hint align='end'> {{ getHintLength('password1') }} </mat-hint>
				</mat-form-field>
				<shard-form-error [control]='controls.password1'
					[validationMessages]='VALIDATION_MESSAGES.password1'>
				</shard-form-error>
			</div> -->
			<div fxFlex='calc(50 - 8px)'>
				<mat-form-field>
					<input formControlName='name' id='name' matInput
						[maxlength]='RULES.name.maxlength'
						[minlength]='RULES.name.minlength' name='name'
						[placeholder]='RULES.name.placeholder' [readonly]='false'
						[required]='RULES.name.required' value="">
					<!-- <mat-hint align='end'> {{ getHintLength('name') }} </mat-hint> -->
				</mat-form-field>
				<shard-form-error [control]='controls.name'
					[validationMessages]='VALIDATION_MESSAGES.name'>
				</shard-form-error>
			</div>
			<div fxFlex='calc(50 - 8px)'>
				<mat-form-field>
					<input formControlName='birthDate'
						(focus)='datePickerRef_tglLahir.open()' id='birthDate'
						(keydown)='datePickerRef_tglLahir.open()' matInput
						[matDatepicker]='datePickerRef_tglLahir' [max]='RULES.birthDate.max'
						name='birthDate' (paste)='datePickerRef_tglLahir.open()'
						[placeholder]='RULES.birthDate.placeholder' [readonly]='true'
						[required]='RULES.birthDate.required'>
					<mat-datepicker-toggle matSuffix [for]='datePickerRef_tglLahir'>
					</mat-datepicker-toggle>
					<mat-datepicker #datePickerRef_tglLahir [disabled]='false'
					(closed)='orangTuaRef.focus()'></mat-datepicker>
				</mat-form-field>
				<shard-form-error [control]='controls.birthDate'
					[validationMessages]='VALIDATION_MESSAGES.birthDate'>
				</shard-form-error>
			</div>
			<div fxFlex='calc(50 - 8px)'>
				<mat-form-field>
					<input #orangTuaRef formControlName='parent' id='parent' matInput
						[maxlength]='RULES.parent.maxlength'
						[minlength]='RULES.parent.minlength' name='parent'
						[placeholder]='RULES.parent.placeholder' [readonly]='false'
						[required]='RULES.parent.required' value="">
					<!-- <mat-hint align='end'> {{ getHintLength('parent') }} </mat-hint> -->
				</mat-form-field>
				<shard-form-error [control]='controls.parent'
					[validationMessages]='VALIDATION_MESSAGES.parent'>
				</shard-form-error>
			</div>
			<div fxFlex='calc(50 - 8px)'>
				<mat-form-field>
					<textarea #alamatRef formControlName='address' id='address'
						[matAutosizeMaxRows]='RULES.address.matAutosizeMaxRows'
						[matAutosizeMinRows]='RULES.address.matAutosizeMinRows'
						matInput matTextareaAutosize
						[maxlength]='RULES.address.maxlength'
						[minlength]='RULES.address.minlength' name='address'
						[placeholder]='RULES.address.placeholder' [readonly]='false'
						[required]='RULES.address.required'>
					</textarea>
					<!-- <mat-hint align='end'> {{ getHintLength('address') }} </mat-hint> -->
				</mat-form-field>
				<shard-form-error [control]='controls.address'
					[validationMessages]='VALIDATION_MESSAGES.address'>
				</shard-form-error>
			</div>
			<!-- <div fxFlex>
				<pre>
					{{ controls.username.errors | json }}
				</pre>
			</div> -->
			<!-- <div fxFlex='calc(50 - 8px)'>
<pre>_id		{{ controls._id.valid }}	{{ controls._id.value }}	{{ controls._id.errors | json }} <br>
NIM		{{ controls.NIM.valid }}	{{ controls.NIM.value }}	{{ controls.NIM.errors | json }} <br>
username	{{ controls.username.valid }}	{{ controls.username.value }}	{{ controls.username.errors | json }} <br>
name		{{ controls.name.valid }}	{{ controls.name.value }}	{{ controls.name.errors | json }} <br>
birthDate	{{ controls.birthDate.valid }}	{{ controls.birthDate.value }}	{{ controls.birthDate.errors | json }} <br>
parent		{{ controls.parent.valid }}	{{ controls.parent.value }}	{{ controls.parent.errors | json }} <br>
address		{{ controls.address.valid }}	{{ controls.address.value }}	{{ controls.address.errors | json }} <br>
value		{{ valid }}	{{ value | json }} <br>
</pre>
			</div> -->
		</form>
	</mat-card-content>
	<mat-card-actions align='end'>
		<!-- <button type='reset' mat-button>
			<mat-icon>reset</mat-icon>
			Reset
		</button> -->
		<button [disabled]='!valid' (click)='onSubmit($event)' color='primary' mat-raised-button>
			Selesai
		</button>
	</mat-card-actions>
</mat-card>
